spring:
  datasource:
    url: jdbc:mysql://localhost:3306/keste
    username: root
    password: keste
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 222489885094-d1ack8fc1voknnu87in9sfrc7amt2cat.apps.googleusercontent.com
            client-secret: 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
            scope:
              - openid
              - profile
              - email
        provider:
          google:
            issuer-uri: https://accounts.google.com
